.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-bottom: 3rem;
}

.App-header {
  background-color: #e8e9ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-div {
  background-color: #fff;
  max-width: 900px !important;
  height: 100%;
  border-radius: 20px;
  padding: 30px !important;
  box-shadow: 5px 8px 5px #d8d8d8;
  color: black;
}

label {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem
}

.form-control {
  border: 1px solid #252323b9 !important;
  margin-bottom: 1rem;
}

.input-feedback {
  color: rgb(73, 8, 8);
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.5rem;
}

.salvar {
  border: 1px solid #8d8c8c !important;
  background-color: #A0A0A0 !important;
  font-weight: 500 !important;
  width: 100%;
  margin-top: 2.5rem;
}

button:hover {
  background-color: #08080881 !important;
}
